extends layout

block content
  form(action="/cart/addtocart",method="post")
    input(type="text",name="id")
    input(type="text",name="size")
    input(type="text",name="color")
    input(type="text",name="quantity")
    button(type="submit") Submit

